**.ll
mccomp
build/*
.cache/
scripts/venv/

tests/addition/add
tests/array_addition/array_addition
tests/array_func_arg_1d/array_func_arg
tests/cosine/cosine
tests/factorial/fact
tests/fibonacci/fib
tests/global_array/global_array
tests/leap/leap
tests/matrix_multiplication/matrix_mul
tests/palindrome/palindrome
tests/pi/pi
tests/recurse/recurse
tests/rfact/rfact
tests/unary/unary
tests/void/void
tests/while/while

